@import "tailwindcss";


@theme inline {
 
 
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "DM Sans", sans-serif;
}


body {
  font-family: "DM Sans", sans-serif !important;

}

*, p, span, li, button, input, label, h1, h2, h3, h4, h5, h6 {
  font-family: "DM Sans", sans-serif !important;
}
